
<%- include('./partials/head')%>
    <h1>Welcome to express.js</h1>
    <%- include('./partials/nav')%>

    <!-- <% for(var i =0;i<=10;i++) { %>
    <h2>Hello</h2>
    <% } %> -->

    <!-- <% var a = 10;var b = 20%> <%= a+b%> -->
    <!-- <%= names%> -->
    <ol>
      <% for(var i = 0;i<names.length;i++) {%>  
      <li><%= names[i]%></li>
      <% } %>
    </ol>
    <ol>
      <% names.forEach((name) => { %>
      <li><%= name%></li>
      <% }) %>
    </ol>
  </body>
</html>

