
<%- include('./partials/head')%>
    <h1>Welcome to express.js</h1>
    <%- include('./partials/nav')%>

<h1>Name : <%= data.name%></h1>
<h1>Age : <%= data.age%></h1>
<h1>Mobile : <%= data.mobile%></h1>

  </body>
</html>
