
<%- include('./partials/head')%>
    <h1>Welcome to express.js</h1>
    <%- include('./partials/nav')%>

<!-- <table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Mobile</th>
    </tr>

    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><%= data[i].name%></td>
        <td><%= data[i].age%></td>
        <td><%= data[i].mobile%></td>
    </tr>
    <% } %>


</table> -->

<ol>
    <% for(var i=0;i<data.length;i++) { %>
    <li><a href="/singleuserdata/<%= data[i]._id%>"><%= data[i].name%></a></li>
    <% } %>
</ol>

  </body>
</html>
